#container, #rows {
    display: flex;
    gap: 5px; 
}

#rows {
    flex-direction: column;
}

.boxes {
    border: 2px;
    border-style: solid;
    border-color: black;
    width: 25px;
    height: 25px;
}
